body {
    font-family: "Hero", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 7em;
    padding-right: 7em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
   list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

.upper {
    background-color: #1F2937;
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.huge {
    font-size: 48px;
    font-weight: bolder;
    width: 50%;
    color: #F9FAF8;
    padding-left: 2em;
}

.normal {
    color: white;
    width: 50%;
    padding-left: 6em;
}

.bone {
    margin-left: 7em;
    margin-top: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #3882F6;
    border-radius: 5px;
    border: #3882F6;
}

.gull {
    width: 300px;
    height: 300px;
}


img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;

}

.bold {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boxes {
    margin-bottom: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.bold {
    width: 100%;
}

.info {
    max-height: 100px;
    max-width: 100px;
}

.text{ 
    font-size: 11px;
}

.footer {
    margin-top:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}