body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 7em;
    padding-right: 7em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
   list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

.upper {
    background-color: #1F2937;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.huge {
    font-size: 48px;
    font-weight: 800;
    width: 50%;
    color: #F9FAF8;
    padding-left: 2em;
}

.normal {
    color: white;
    width: 50%;
    padding-left: 6em;
}

.bone {
    margin-left: 7em;
    color: white;
    background-color: #3882F6;
}

.gull {
    width: 300px;
    height: 300px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.middle {
    max-height: 150px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bold {
    width: 100%;
}

.info {
    max-height: 100px;
    max-width: 100px;
}